BD/imagenesMak1/
Tarea031724/Fotos/
/*.csv
/BD/
PosVacaciones/SemanaSanta/BD_Lungs.h5
PosVacaciones/SemanaSanta/Lungs/BD_Lungs.h5
PosVacaciones/SemanaSanta/Lungs/modelo_cnn_80e.h5
PosVacaciones/SemanaSanta/Sport_Balls/modelo_cnn_180Ep_310324.h5
PosVacaciones/SemanaSanta/Sport_Balls/modelo_cnn.h5
PosVacaciones/SemanaSanta/Sport_Balls/sportBalls_test.h5
PosVacaciones/SemanaSanta/Sport_Balls/sportBalls_train.h5
PosVacaciones/SemanaSanta/Hats/2.jpg
PosVacaciones/SemanaSanta/Hats/3.jpg
PosVacaciones/SemanaSanta/Hats/4.jpg
PosVacaciones/SemanaSanta/Hats/DB_Hats_2.h5
PosVacaciones/SemanaSanta/Hats/DB_Hats.h5
PosVacaciones/SemanaSanta/Hats/hats_test.h5
PosVacaciones/SemanaSanta/Hats/hats_train.h5
PosVacaciones/SemanaSanta/Hats/M_hats_00_noGood.h5
PosVacaciones/SemanaSanta/Hats/M_hats_001.h5
PosVacaciones/SemanaSanta/Hats/M_hats_002.h5
PosVacaciones/SemanaSanta/Hats/M_hats_003_noGood.h5
PosVacaciones/SemanaSanta/Hats/M_hats_005_noGood.h5
PosVacaciones/SemanaSanta/Hats/M_hats_0604_70.h5
PosVacaciones/SemanaSanta/Hats/modelo_cnn_180Ep_310324.h5
PosVacaciones/SemanaSanta/Hats/modelo_cnn_hats_020424.h5
PosVacaciones/SemanaSanta/Hats/Prueba.jpg
PosVacaciones/SemanaSanta/Hats/DB_Hats_Color.h5
PosVacaciones/SemanaSanta/Hats/DB_Hats_Gray.h5
PosVacaciones/SemanaSanta/Hats/M_hats_0904_200E_Gray.h5
PosVacaciones/SemanaSanta/Hats/M_hats_0804_60.h5
